[2018-11-14 15:50] Jackaboi18 opened #1 "Island"
when you  do /is it dont make an island it just gives you the items

[2018-11-19 23:41] RedCraftGH commented on #1
I cannot replicate the bug you are describing. What version of pocketmine are you using? Does an error appear in your console? What steps do you first go through before this bug occurs?

[2018-11-24 05:23] AlexPads opened #2 "Not working"
Hello, I am  a Developer Myself and i dont understand this plugin it is Not well layed out or explained.
Whenever i do /is in-game it just teleports me to a different spot in the world i am in and gives me items nothing else no islands created!

i am running:

Hosted Linux Server (RAMShard)
pmmp 3.3.2 (Latest)
Win10 1.7.1
PHP: 7.2

Hope to hear back and Feel free to contact me Here: https://discor

[2018-11-28 02:55] #1 closed

[2018-12-04 19:15] ZandercraftGames opened #3 "Magic Cobble Gen"
![image](https://user-images.githubusercontent.com/28664144/49466802-f923d980-f7ce-11e8-929e-1e1d16e92698.png)
I Did the following to make the cobble gen, but it wont work. It only spawns cobble. Not anything I put in the config.

[2018-12-12 02:48] RedCraftGH commented on #3
@ZandercraftGames I am aware of this issue and am currently working on a fix for it. For now, I believe if you fill in the bottom block where the water is 2 blocks deep it should work.

[2019-01-30 22:51] EventfulDeer48 opened #4 "h"
So is this how we communicate now? @RedCraftGH get pinged noob

[2019-02-09 04:12] Karanztez opened #5 "Pls update"
Island top and other

[2019-03-01 00:53] #4 closed

[2019-03-01 00:54] RedCraftGH commented on #5
I'll try and get a very, very large update out soon!

[2019-04-09 00:20] Karanztez commented on #5
Can you increase the questsUI island?

[2019-04-09 22:39] RedCraftGH commented on #5
@Karanztez I'm not sure what you mean. As far as I know, this plugin doesn't have any questsUI.

[2019-04-10 01:58] Karanztez commented on #5
Thx

[2019-04-13 18:16] GamerDaniel3000 opened #7 "Pull it on Poggit"
Please pull that beautiful plugin on poggit :D

[2019-04-13 18:27] #7 closed

[2019-04-14 02:22] #3 closed

[2019-04-14 02:23] #5 closed

[2019-04-14 03:11] RedCraftGH commented on #2
Hello @AlexPads

I have reopened this issue to inquire with you about your previous observations.

Firstly, do you still think that the plugin is not well laid out and confusing to use? If so, what can I do to fix that? Finally, have you found any bugs or problems with the plugin which need to be fixed?

Thank you,
RedCraftPE

[2019-04-16 16:46] AlexPads commented on #2
@RedCraftGH Hello! The plugin is getting better! I no longer have y own server and therefore don't use the plugin 😢 I am Closing this.

[2019-04-16 16:46] #2 closed

[2019-04-19 15:27] junxiesky opened #8 "I need Custom Message！"
yeah~
This is a great plugin！
butI need to be able to customize the message
Because my server is Chinese
My players can't read English!
Thanks！

[2019-04-19 15:29] RedCraftGH commented on #8
I will add Custom messages in the next update.

[2019-04-19 15:30] junxiesky opened #9 "Player items will still drop after death!"
I'm in config. Keepinventory in the open up the keepinventory, but after death, the player's items will drop

[2019-04-19 15:31] junxiesky commented on #8
非常感谢！

[2019-04-19 15:31] junxiesky commented on #8
Thank you very much.

[2019-04-19 15:39] RedCraftGH commented on #9
If you want players to keep their items after death set the KeepInventory value to "on"

It should look like this: `KeepInventory: "on"`

[2019-04-19 15:40] junxiesky commented on #9
ok，It's my problem,I set it to true，I'm sorry for the trouble

[2019-04-19 15:40] #9 closed

[2019-04-20 10:28] GamerDaniel3000 opened #10 "GUI implementation for a user-friendly interface"
Hey, I have a great and useful feature for your SkyBlock plugin.

These whole commands are very confusing for some users and I would have the idea that you could integrate the whole in GUI's.

For example, with / is help a GUI public where you can then all the functions you have otherwise done with the commands then simply retrieve with a few clicks.

And for the owner of the server, one could ind

[2019-04-20 13:32] LeoBdt opened #11 "Suggestion !!!"
Hello, can you add an no afk system ?

[2019-04-20 13:59] RedCraftGH commented on #11
Hi! Thanks for the suggestion. However, I need a little bit more information. What would the no afk system's purpose be? What would it do?

[2019-04-20 14:05] LeoBdt commented on #11
For example, if player don't move for X minutes, he'll have to send /is noafk or /noafk otherwise it'd kick him after few minutes of waiting /noafk command

[2019-04-20 14:56] LeoBdt commented on #11
okay??

[2019-04-20 15:03] RedCraftGH commented on #11
Alright. I'll see what I can do :)

[2019-04-20 15:05] LeoBdt commented on #11
Thanks dude !

[2019-04-21 08:32] LeoBdt commented on #11
Another suggestion : Could you make an addon to support ScoreHUD plugin ?

[2019-04-21 09:49] JackMD opened #12 "ScoreHud Addon"
Hey so alot of people have been asking me to add support for your plugin to ScoreHud. The thing is that I am unfamiliar with your API and what your plugin provides. So its requested that you make an addon that would be supported by ScoreHud for your plugin.

Details on how to make the addon are here
https://github.com/JackMD/ScoreHud/wiki

[2019-04-21 09:50] JackMD commented on #12
You can either maintain the addon you make over here on your repo or make a pr and add it here
https://github.com/JackMD/ScoreHud/tree/addons

[2019-04-21 18:25] RedCraftGH commented on #12
Alright, I'll see what I can do :)

[2019-04-21 19:48] AlexPads commented on #12
Yayayayayaya

[2019-04-22 03:37] RedCraftGH commented on #12
I have made the addon, and so I am closing this issue. However, the addon won't be usable until I release a new update for RedSkyBlock (hopefully soon).

[2019-04-22 03:37] #12 closed

[2019-04-22 03:43] RedCraftGH commented on #10
I have been planning on adding GUI implementation to the plugin, however, this will probably not be added for a while as I am still working on fixing bugs and adding features to the plugin.

[2019-04-22 06:42] JackMD commented on #12
Also when you do release it please (im not forcing you to do so but) consider releasing the addon here via making a PR. Doing so would let people know that the addon exists and so they could stop spamming me and hopefully you as well for the addon.

https://github.com/JackMD/ScoreHud-Addons

[2019-04-24 13:06] LeoBdt commented on #11
?

[2019-04-24 18:28] AlexPads commented on #8
Also, you rated my plugin 0 stars and you can definitely customize the messages! @junxiesky

[2019-04-24 18:29] AlexPads commented on #8
Stop rating peoples plugins 0 stars because you can't change things to Chinese that's a jerk move.
ALSO, you can change messages on mine 👍 and i thought you could on here aswell!

[2019-04-24 23:06] junxiesky commented on #8
Oh ~ my friend!
I didn't give you the plugin 0 star......

[2019-04-24 23:14] junxiesky commented on #8
There is something wrong with my browser
No matter how many stars I give it, it will become 0 stars......

[2019-04-25 11:52] LeoBdt opened #13 "Suggestion :p"
Hello, it'd be cool if you add an island size system.

For example :

The size of an island is limited to 100*100 and if the player want to increase it he'll have to place valuable blocks like diamond block.

/is size will return :

Your island is limited to 100*100
You need X point of value to increase the limit.

[2019-04-26 03:28] RedCraftGH commented on #13
Hello! Thank you for the suggestion. However, I think that this feature would be more server specific and not useful to all users of this plugin; for this reason, I will not be adding the feature you request.

Luckily, in the next release of RedSkyBlock, a new RedSkyBlock API will be available which can be used to create add-ons for the plugin very easily. Using the built-in /is increase and /is d

[2019-04-27 02:36] RedCraftGH commented on #8
@junxiesky I think I am going to hold off on implementing custom messages. I am focusing more on the core features and making everything work smoothly. This is my primary goal. Eventually, I hope to add custom messages, but it will not be now.

[2019-04-27 02:37] #13 closed

[2019-04-27 02:39] junxiesky commented on #8
好的，没关系

[2019-04-27 02:39] junxiesky commented on #8
Okay, that's okay

[2019-04-27 14:50] LeoBdt opened #14 "crash"
Error: Undefined variable: player
File: plugins/RedSkyBlock_dev-79.phar/src/RedCraftPE/RedSkyBlock/EventListener
Line: 456
Type: ErrorException

~~THIS CRASH WAS CAUSED BY A PLUGIN~~
BAD PLUGIN: RedSkyBlock v3.1.0

Code:

Backtrace:
#0 plugins/RedSkyBlock_dev-79.phar/src/RedCraftPE/RedSkyBlock/EventListener(456): pocketmine\utils\Utils::errorExceptionHandler(integer 8, string Undefined variable: p

[2019-04-27 14:51] LeoBdt opened #15 "Error with custom islands"
Hello, i've made an custom is but when i do /is create or /is reset i spawn INTO the ground of my island. (I've set the spawn ON the ground and not IN)

[2019-04-27 15:48] RedCraftGH commented on #14
Hello! Thank you for reporting this bug! The bug has been fixed in RedSkyBlock 3.1.1 which you can download at Poggit!

[2019-04-27 15:49] #14 closed

[2019-04-27 15:52] LeoBdt commented on #15
Do you want to go on my server to try?

[2019-04-27 15:53] RedCraftGH commented on #15
Hello! Before I can confirm whether or not this is a bug, I need a bit more information from you. After using /is set to set your custom island template, did you use /is makespawn while standing on the custom island template? If not, please try using /is makespawn while standing on your custom island template.

Similarly, I have created and tested multiple different custom island templates, all of

[2019-04-27 15:54] LeoBdt commented on #15
of course i've done /is set and /is makespawn

[2019-04-27 15:55] RedCraftGH commented on #15
@LeoBdt Sure! Just drop the IP and Port in a new comment on this issue and I would be happy to log on and do a quick test.

[2019-04-27 15:56] LeoBdt commented on #15
i'll do it when i'm back to home, can you add me on discord ? Léo#3199

[2019-04-29 21:51] AlexPads opened #16 "[Suggestion] Permission for Void"
Could there be a permission for the Void so that if Players that have say like skyblock.voidsave
could get teleported back to their island unharmed but normal players would die and loose all their stuff like when you have void off?

[2019-04-30 12:10] AlexPads commented on #16
@RedCraftGH Pull request Was Submitted but its pretty simple to do yourself :) if you don't like my Garbage GitHub editor Formatting rn because I'm not home LOL

[2019-05-05 23:03] thebigsmileXD commented on #10
What kind of ui are we talking about, Chests with named items, or forms?

I might have some spare time left to help out

[2019-05-06 04:42] GamerDaniel3000 commented on #10
@thebigsmileXD form ui

[2019-05-06 17:29] AlexPads opened #18 "[Enhancement] per Island Members"
Could you please add per island member support to RedSkyBlock so you can tell what members are Online and What Members are On the Island Currently and not at spawn on Something.

[2019-05-06 22:28] RedCraftGH commented on #16
Thanks for the suggestion @AlexPads! I really like it! I am definitely going to be implementing this as soon as I can.

[2019-05-06 22:32] RedCraftGH commented on #18
Thanks for the suggestion @AlexPads! I was thinking about doing something similar, but I would like to know what information you would like available to island members.

As of now, this is the information I have made plans for adding:
How many members of your island are online
The names of the online members of your island
Whether or not the member is currently on your island
How many blocks the m

[2019-05-06 22:36] RedCraftGH commented on #10
@thebigsmileXD I generally prefer the chestUI's look and ease of use. So the UIs used for RedSkyBlock will most likely be ChestUIs similar to the /is settings UI that is in place now. However, in the future, I may implement a feature which supports both types of UIs, and the UI each respective server would like to use would be changeable within the config file.

[2019-05-06 22:44] AlexPads commented on #18
Possibly how long the member has been a member on the island 😁 and then I
think it sounds Great!! Plus probbably ScoreHud Support!

On Mon, May 6, 2019, 6:32 PM Red <notifications@github.com> wrote:

[2019-05-07 16:27] AlexPads commented on #16
Thanks @RedCraftGH

[2019-05-26 17:50] isoz opened #19 "Few questions"
- When someone does the /is reset command, does it just send them to a new island but doesn't physically remove their old island from the world?

- Why does it keep count of how many islands the player had when doing /is reset?

If it doesn't delete the player island I assume that in a server with a decent number of players the world file will eventually become way too big.

Also while I'm at it i

[2019-05-26 18:26] RedCraftGH commented on #19
When someone does /is reset it does just move them to a new island, this was a quick and dirty workaround for a problem I was facing at the time; I am, however, currently working on making a much better island reset.

It shouldn't be keeping count of the number of islands a player has had when doing /is reset.

Yea, a lot of problems start occurring after the number of islands gets to be too high.

[2019-05-26 18:41] isoz commented on #19
It is keeping count, I did 8 /is reset and in my skyblock.yml its showing Islands: 8

Thank you

[2019-05-26 19:47] RedCraftGH commented on #19
That is a counter of all islands that are ever generated by the plugin. If a player resets their island then the plugin must generate a new island which increases the counter by 1.

It's not quite that simple. The area of each island can vary hugely from island to island; an island can be as big or little as the user of the plugin wishes to make it, this means that setting the area to air would be

[2019-05-27 11:51] isoz commented on #19
Hey, I was checking the events and I noticed that in the move event you're not checking if the players has left the island or is on the edge of it's island, so technically they can fly to each others islands?

If that's the case what's the point of "locking" the island if there's nothing checking the players entering or leaving islands?

I want to use this in production but this little annoyances

[2019-05-27 15:42] RedCraftGH commented on #19
Yea, it is possible to fly to another player's island; I did it that way previously because the old island generation algorithm--the same one used in the current release (changed in the next release)--generates islands diagonally from each other in one direction. This meant there would be a low chance of flying to another player's island given a player even had the permission to fly. Basically, th

[2019-05-29 14:27] thebigsmileXD opened #20 "Would like to contribute to the repo"
Hi :)

I have some long time experience with PocketMine and plugins, which you could see at my GitHub.

I recently discovered this repository and would like to help out.

I use the IDE PHPStorm, which helps alot debugging and cleaning up some code.
For now i fixed several missing fields and PHPDoc comments, and fixed some minor issues.

Also, i have a test running for challenges, i.e. 64 cobble gi

[2019-05-29 14:40] RedCraftGH commented on #20
Heyo! Do you have a discord account? I'd love to talk with you a bit more about this. 😄

[2019-06-01 13:16] thebigsmileXD commented on #20
Discord: @XenialDan#6835

[2019-06-01 13:36] isoz commented on #20
I'm also in contact with @thebigsmileXD we've known each other for the past 3 years he's a good developer and because I'm running your plugin in a popular server it faster to identify bugs, I have a feeling things will break eventually lol but so far is holding up for the past 10 or so hours.

So far the players managed to reach 155K coords:
[code]
Status still looking OK:
`World "sbworld": 2,103

[2019-06-01 15:18] RedCraftGH commented on #20
Hi! I'm actually surprised that nothing has broken thus far; that's quite far out into the world! I am happy to inform you that tomorrow a new update for this plugin is going to be released which actually fixes quite a few bugs AND adds a bunch of the features that you would like.

In the next update, there will be:
  - A customizable island reset cooldown.
  - An invisible border for player's isl

[2019-06-01 15:35] isoz commented on #20
Sounds promising, my players will be very happy, especially "A limit for the number of islands allowed to generate in a world before a new world is created." I like that.

I think I understand why the players want to leave their island, because when they do /is go or tp and they are a member of someone else's island it doesn't take them there because they would need to type the friends name, so th

[2019-06-01 16:00] RedCraftGH commented on #20
The /is increase had a small bug in it--which is now fixed--which was increasing player island limits in all directions by the amount specified, and it was only supposed to increase the limits in all directions by half of the amount specified.

I am shooting for backward compatibility...but I'm not sure if it will work out. Fingers are crossed though that I can figure that mess out.

Also, with th

[2019-06-01 16:03] isoz commented on #20
It's short enough to be able to post here, so here's the code:
[code]

and then I just made Settings call the CreateForm function.

[2019-06-01 22:03] isoz commented on #19
![image](https://user-images.githubusercontent.com/6126350/58754091-78b20d00-84c1-11e9-9aba-380d97fe662d.png)

Starting to show problems with 30 players online

![image](https://user-images.githubusercontent.com/6126350/58754098-88c9ec80-84c1-11e9-8caa-6654351e0439.png)

[2019-06-01 22:23] RedCraftGH commented on #19
@isoz I think I am going to push the next SB update tonight; I felt inspired so I've been working on it non-stop :P.

This should help with your problems, but, unfortunately, I was not so smart when I was creating the yaml files and so I didn't add a version number, which means it's impossible for me to detect which version of files is being used for the SB plugins and update them. This means that

[2019-06-01 22:36] isoz commented on #19
@RedCraftGH That's awesome man, thank you for working on it, really appreciated, make a donation link in the page of the plugin and I'll contribute to your time, this can easily be the best skyblock plugin in PM with some adjustments. What sold me was mostly the Island Settings which seems so easy to implement yet all the others fail to do it.

It's OK man, if I have to reset and the stability get

[2019-06-01 23:07] RedCraftGH commented on #19
Thanks for the compliments, they really mean a lot :)

I am hoping to change the database from YML soon; I am relatively familiar with JSON, so that will be the most likely option for me in the future.

[2019-06-01 23:10] isoz commented on #19
I mean I'm not a developer and I can work well with SQL, shouldn't be too complicated if you give a few minutes of your time. Plus there's things like this https://github.com/poggit/libasynql but JSON already sounds way better than yaml for storing data.

No response about the donation link? you're not interested?

[2019-06-01 23:12] RedCraftGH commented on #19
I've never really worked with SQL, but I will give it a go and see what happens.

I will put a donation link up in the readme.

[2019-06-01 23:54] #16 closed

[2019-06-01 23:55] #19 closed

[2019-06-02 09:55] thebigsmileXD commented on #20
Cool. I use InvMenu, so i do not even have to care about the items being stolen or so. Would like to upgrade to virion usage

[2019-06-02 12:52] LeoBdt opened #21 "ScoreHUD add-on broken"
Since the last update
 [14:49:42] [Server thread/ERROR]: [ScoreHud] Could not load addon RedSkyBlockAddon. Unknown dependency: RedSkyBlock

[2019-06-02 12:54] #21 closed

[2019-06-02 13:22] LeoBdt opened #22 "Error on /is go"
[15:22:04] [Server thread/CRITICAL]: ErrorException: "Undefined index: World" (EXCEPTION) in "plugins/RedSkyBlock-master/src/RedCraftPE/RedSkyBlock/Commands/SubCommands/Teleport" at line 46

[2019-06-02 13:32] LeoBdt commented on #20
Do you have error since new update when you type "/is go" ?

[2019-06-02 15:37] LeoBdt commented on #22
:(

[2019-06-02 15:42] isoz commented on #22
Stop spamming emojis and issues dude, it seems like a problem on your end if not then try to use the older version.

[2019-06-02 15:43] LeoBdt commented on #22
Sorry. i don't want to use the older version. The problem isn't from me

[2019-06-02 15:44] isoz commented on #22
What's wrong with older version? I'm running it just fine on a server with 30+ people... I'm only updating until I've tested it enough to be stable... right now we don't know.

[2019-06-02 15:44] ManXmaster commented on #22
The problem is on your end since it seems to be working fine on all other server,maybe you have not set up the world file correctly

[2019-06-02 15:46] LeoBdt commented on #22
i need an islands per world limitation wich is in the new version.

I've set up the world file correctly with /is setworld

[2019-06-02 15:47] LeoBdt commented on #22
It worked correctly with the older version. but i don't want to use it anymore, i've too many player on my server and the gone too far in world and it makes them shaking, that's why i need new version

[2019-06-02 15:47] ManXmaster commented on #22
Okay just be patient,vthe developer of the plugin will reach out to you in about a coupke of hours when he gets the time to.

[2019-06-02 15:48] LeoBdt commented on #22
yeah i'd be patient, thanks for your "help" bro

[2019-06-02 15:48] LeoBdt commented on #22
Btw, do you use the new version?

[2019-06-02 15:49] isoz commented on #22
Did you reset the world? because you need to, this is not backwards compatible.

[2019-06-02 15:50] LeoBdt commented on #22
Errrr, i can't use the world i used in previous version???? i can't delete all players islands...

[2019-06-02 15:51] ManXmaster commented on #22
Since the new update adds the new feature of island world limit you have to reset the previous world

[2019-06-02 15:51] isoz commented on #22
Oh well you have to... you can't make the players happy all the time.

[2019-06-02 15:51] LeoBdt commented on #22
Okay i see, that's sad but i've to do it. :(

[2019-06-02 16:07] RedCraftGH commented on #22
Unfortunately, I wasn't able to make the newer version backward compatible with the older version, but all versions that I release from now on will be backward compatible. So no more resets will be required.

[2019-06-03 19:15] LeoBdt opened #23 "Crash server"
hello Error: "Class 'RedCraftPE\RedSkyBlock\Blocks\BlockIds' not found" (EXCEPTION) in "plugins/RedSkyBlock-master/src/RedCraftPE/RedSkyBlock/Blocks/Lava" at line 113
2019-06-03 [21:12:43] [Server thread/DEBUG]: #0 src/pocketmine/block/Liquid(217): RedCraftPE\RedSkyBlock\Blocks\Lava->checkForHarden()
2019-06-03 [21:12:43] [Server thread/DEBUG]: #1 src/pocketmine/level/Level(838): pocketmine\block\

[2019-06-04 23:02] LeoBdt commented on #23
also crash when /is claim

TypeError: "Return value of RedCraftPE\RedSkyBlock\Commands\SubCommands\Claim::onClaimCommand() must be of the type boolean, none returned" (EXCEPTION) in "plugins/RedSkyBlock-master/src/RedCraftPE/RedSkyBlock/Commands/SubCommands/Claim" at line 172
2019-06-05 [00:58:25] [Server thread/DEBUG]: #0 plugins/RedSkyBlock-master/src/RedCraftPE/RedSkyBlock/Commands/Island(159):

[2019-06-06 17:10] DiagonalPRO opened #25 "How do you make a Custom Island?"
I am sorry for the issue but i was wondering what are the steps to maks a custom island? I tried like this:
1./is pos1
2./is pos2
3./is set
4./is custom on
And it crashes the server! Anyway nice plugin!

[2019-06-07 03:03] AlexPads opened #26 "Cobble Gen Bug"
Hello, nice to be contributing another issue to your Plugin!

Cobble gens are not working and when players place lave it sometimes does not flow correctly making the cobble gen not function properly.

I found this bug by having players complain that the gens were not working and then I turned off magiccobblegen and they all stated working again.

[2019-06-07 04:58] RedCraftGH commented on #26
@AlexPads This is not a bug caused by the plugin. Pocketmine currently does not have handling for block pending ticks which sometimes causes liquids to get "stuck."

[2019-06-07 04:59] #26 closed

[2019-06-07 05:01] RedCraftGH commented on #25
After using /is set you do not need to use /is custom on. /is custom <on/off> is only used for disabling and enabling custom islands *after* custom islands have been made. Once you use /is set and make an island the island should be the same as the custom island you set. You can read [this](https://github.com/RedCraftGH/RedSkyBlock/wiki/Creating-Custom-Island-Templates) for a detailed description

[2019-06-07 05:02] #25 closed

[2019-06-07 05:03] RedCraftGH commented on #23
@LeoBdt Are you using/have you created any custom challenges that you are trying to /is claim?

[2019-06-07 05:04] #22 closed

[2019-06-07 09:52] LeoBdt commented on #23
It crash only with "place" challenge

[2019-06-07 15:21] RedCraftGH commented on #23
Place isn't a valid challenge type 😬
There is only "collect" and "add" at the moment. I accidentally left a typo in the built-in challenges.

[2019-06-07 15:22] RedCraftGH commented on #23
I recommend changing place to collect, as collect is a valid challenge type.

[2019-06-07 15:22] #23 closed

[2019-06-07 21:52] LeoBdt opened #27 "Griefing bug"
Players can place water and lava even if "Bucket protection" is on.

[2019-06-08 00:45] #27 closed

[2019-06-08 00:45] RedCraftGH commented on #27
Fixed 👍

[2019-06-08 10:17] LeoBdt opened #28 "Another suggestion"
Hello add protection for Shulker boxs please.

[2019-06-28 01:08] LeoBdt opened #29 "Important bug."
Hello, players can't interact with blocks under 1 Y

So blocks at 0 Y can't be break

[2019-06-29 11:48] catalizcs opened #30 "fix pls !"
[18:45:51] [Server thread/CRITICAL]: ErrorException: "Undefined offset: 0" (EXCEPTION) in "plugins/RedSkyBlock-master/src/RedCraftPE/RedSkyBlock/Generators/IslandGenerator" at line 79
[18:45:51] [Server thread/DEBUG]: #0 plugins/RedSkyBlock-master/src/RedCraftPE/RedSkyBlock/Generators/IslandGenerator(79): pocketmine\utils\Utils::errorExceptionHandler(integer 8, string[19] Undefined offset: 0, stri

[2019-07-08 07:03] isoz opened #31 "performance 42 worlds"
![image](https://user-images.githubusercontent.com/6126350/60789339-c96af480-a156-11e9-9ed6-b1d77126471a.png)

Having some lag issues here.

[2019-07-14 16:40] vividmemory14 opened #32 "Suggestion"
Can yoh maybe make it so you can change permissions on specific island members so some can breake blocks and open chest basically the "/is settings" but for individual members on the island

[2019-07-19 02:57] ZandercraftGames commented on #8
@junxiesky In the meantime, you can use devtools to decompile it, then go to the /plugin-data/DevTools folder and move the decompiled plugin folder into the /plugins folder and change the messages manually.

[2019-07-20 12:46] RedCraftGH commented on #28
Aight.

[2019-07-20 12:47] RedCraftGH commented on #29
Thanks for reporting the bug.

[2019-07-20 12:48] LeoBdt commented on #28
Please also add protection for hoe and shovel cuz players can actually grief islands by this way

[2019-07-20 12:48] RedCraftGH commented on #30
Heyo! Can you please let me know how this error is produced? What exactly are you trying to do that causes this?

[2019-07-20 12:52] RedCraftGH commented on #31
Heyo! 42 worlds are quite a few worlds! I can definitely understand why there may be some performance problems there. I will, of course, be trying my best to make the performance of this plugin better in the future, but as of now, there isn't a ton that I can do to fix this for you. I guess the only thing I can really suggest for you now is to increase the amount of power you have allotted to your

[2019-07-20 12:53] RedCraftGH commented on #32
It's a possibility in the future.

[2019-07-20 13:43] isoz commented on #31
Nah. I had over a thousand worlds with Giantquartz skyblock performance was
ok, its just bad code with an even worse database. It takes too much time
to access a file this big and the playermoveevent also being one of the
main culprits overall.

On Sat, Jul 20, 2019, 13:52 Red <notifications@github.com> wrote:

[2019-07-20 16:53] RedCraftGH commented on #31
If you wish to use the plugin then the performance issues are something you will have to deal with for now, otherwise you can use another plugin. As I said, improving the performance of the plugin is something I will be working on in the future. Thanks for reporting your problem.

[2019-07-20 16:54] RedCraftGH commented on #28
Okay.

[2019-07-20 17:19] isoz commented on #31
That's alright, I know the consequences, I'm just reporting my findings to you and to whoever hangs around here.

I'm already working on improving this but getting rid of the playermoveevent is the most important step to reduce  load in the main thread.

[2019-07-22 01:41] EduGH7 opened #33 "Question"
What is planned for the next update? And when r u going to add the nether islands, I'm hyped for that, and I love this plugin!🤩

[2019-07-22 16:14] ZandercraftGames commented on #33
He has not released a date for Nether islands, but I would expect them pretty soon. In the meantime, you can use the custom islands function to add nether and end islands.

[2019-07-23 03:23] BootheBoys commented on #15
Hey, just wanted to let you know I had the same problem with spawning. Sometimes it works and you don't die, and sometimes you fall through your island to the void. Doesn't happen when you tp to an island, it happens on the creation of a new island. I am also using the version 3.1.1.

[2019-07-23 10:06] LeoBdt commented on #15
i still have the same error.

i think to solve the problem, maybe you can add a cooldown before teleporting to new island to be sure it's fully created

[2019-07-23 16:12] ZandercraftGames opened #34 "[Suggestion] Permission Documentation"
Hey... It would be very useful if you made documentation on all permissions and exactly what they do in the wiki of this repo.

[2019-07-23 16:39] AlexPads commented on #15
I guess that this is caused by lag? I have not had this issue before but I
have heard it's a big problem. 🤷‍♀️

On Tue, Jul 23, 2019, 6:06 AM Léo <notifications@github.com> wrote:

[2019-07-23 16:40] LeoBdt commented on #15
It can be caused by lag, my vps is very strong and i tested it alone...

[2019-07-24 00:28] AlexPads commented on #15
I'm general if you have a VPS there is a chance for lag. But ok I'll take
your word for it just saying dedicated servers are better.

On Tue, Jul 23, 2019, 12:40 PM Léo <notifications@github.com> wrote:

[2019-07-24 12:41] EduGH7 commented on #33
I think that would be cool if he add a function that if you pay with money in game you can upgrade your cobblestone generator or things like that, or "change the biome"

[2019-07-24 16:24] ZandercraftGames opened #35 "[Oversight] Naming Islands"
Naming an island doesnt update its name on /is top this was probably an oversight, but it annoys people who are working as a group on an island.

[2019-07-26 13:26] roxtigger2003 commented on #30
i have create new island

[2019-07-26 23:49] BootheBoys opened #36 "Cobblestone Gen"
It would be nice if the cobblestone generator thing was only activated in the worlds where SkyBlock islands are made. I don't want the cobblestone generator to be affecting my survival world.

[2019-07-29 02:58] vividmemory14 opened #37 "is settings crash"
#0 plugins/RedSkyBlock (6).phar/src/RedCraftPE/RedSkyBlock/Commands/SubCommands/Settings(36): RedCraftPE\RedSkyBlock\Commands\SubCommands\Settings->createSettingsInventory(object JackMD\NameSpaceRemover\CustomPlayer)

[02:51:02] [Server thread/DEBUG]: #1 plugins/RedSkyBlock (6).phar/src/RedCraftPE/RedSkyBlock/Commands/Island(236): RedCraftPE\RedSkyBlock\Commands\SubCommands\Settings->onSettingsCom

[2019-08-01 20:02] RedCraftGH commented on #34
Thank you for the suggestion!

[2019-08-01 20:02] RedCraftGH commented on #35
Thank you for reporting this, I will take a look at it.

[2019-08-01 20:03] RedCraftGH commented on #37
I'll take a look at this.

[2019-08-11 10:55] LeoBdt opened #39 "is the project dead???"
?

[2019-08-12 19:06] RedCraftGH commented on #39
Honestly, I haven't had time to work on this project in a while. Updates will probably be much slower until rl slows down a bit. Hopefully I'll be able to put more work into it soon.

[2019-08-12 19:07] RedCraftGH commented on #36
That is a really good idea. I will definitely be implementing that at some point.

[2019-08-12 19:10] #39 closed

[2019-09-04 15:48] Darthhobson commented on #37
I also am getting this same error when myself or another player types /is settings and causes an internal server error to to then block the players ip for 5 seconds i will attach a pastebin below

https://pastebin.com/WNZVubBQ

[2019-09-04 15:52] Darthhobson opened #40 "Multiple Islands"
Hi!,

I have just setup a pocketmine server for me and few friends and have setup Creative, Survival And Skyblock, currently i have used my own island as the spawn for Skyblock and was wondering if you could implement a feature where i can have multiple islands and possibly name them for easier navigation. On the whole this plugin is great and would highly recommend this plugin.

[2019-10-27 02:11] LeoBdt opened #41 "any news about your plugin?"
i'm really worried dude

[2019-11-24 17:20] LeoBdt commented on #41
???

[2019-12-14 16:44] jennocool opened #42 "Hi can you do this"
Hi!! you make an new thingy that you can upgrade you're island level with money and that it will increase the size and amount of hoppers or other block you place or new blocks you can place.

[2020-01-23 23:50] AytgDmr1 commented on #37
Same issue here. Please fix asap.
Regards.

[2020-01-25 11:00] OrBuilder opened #43 "Suggestion"
Hello,

Already I wanted to congratulate you on getting a very good plugin!

I have a suggestion, I am French (I use google translation) and I would like to know if it would be possible to modify the in - game messages in the config.yml? Its would be so practical.

[2020-02-03 14:52] OrBuilder opened #44 "Crash"
Hey ! The /is settings crash :/

[15:48:37] [Server thread/CRITICAL]: Error: "Class 'pocketmine\network\mcpe\protocol\BlockEntityDataPacket' not found" (EXCEPTION) in "plugins/RedSkyBlock.phar/src/RedCraftPE/RedSkyBlock/Commands/SubCommands/Settings" at line 72

[2020-02-05 04:48] oscarc121 opened #45 "problem with MagicCobbleGen Ores"
I do not know why if everything is well put, a total of 100% but still only cobblestone comes out and I have been picking it up for a while
MagicCobbleGen Ores:
- 4: 40
- 16: 20
- 15: 20
- 14: 5
- 21: 5
- 73: 9
- 56: 1

[2020-02-24 12:58] xMercyTheDeveloper opened #46 "RedCraftGH"
Hey, When I do lava with water, keeps crashing, help
this is the problem from the console:

"Class 'RedCraftPE\RedSkyBlock\Blocks\BlockIds' not found" (EXCEPTION) in "plugins/RedSkyBlock.phar/src/RedCraftPE/RedSkyBlock/Blocks/Lava" at line 96

[2020-02-26 09:56] DanuRoYT commented on #46
ummm....hello???

[2020-05-28 17:36] zeffy2199 opened #47 "It doesn't create island"
Whenever player does /is create
It creates an empty void.
And we need to delete the island and run the command again then it will create the island please fix this

[2020-05-31 11:52] zeffy2199 commented on #45
Yes

[2020-07-06 17:55] enzipenzo commented on #47
Happens to me too.

[2020-08-17 11:07] PsychoPE opened #48 "Feature Suggestion"
Add quests / challenges can be fully customisable I’ll give an example (+ config example)

Kill 1000 Mobs (could be a certain mob if you want it to be more challenging)

Reward: 1x Phantom LootBox

config:

quests:
 1:
    name: "Mob Killer"
    Description: "Kill 1000 Zombies"
    type: "kill"
      entity: "Zombie"
    reward: "LootBox Phantom {player}" (command support would be better as it giv

[2020-08-22 05:08] MintSloth917746 opened #49 "Fix Create SkyBlock Load.. + Join SkyBlock Custom Fallen Void"
When You Enter The Island, You Lose The Space And Take A Part Of The Island

[2020-08-24 02:48] TheRealKizu opened #50 "Developer API Documentation"
As the title says, add an detailed API documentation for developers on the wiki.

[2020-09-19 04:47] #41 closed

[2020-09-19 04:48] #42 closed

[2020-09-19 04:52] RedCraftGH opened #51 "Plugin Update Info:"
Hey everyone! So, since I lost access to my old discord account I am going to be making a new discord server for Red Development. Similarly, I am going to be releasing a revamped version of the skyblock plugin within the next week.

On another note, I would like to thank everyone for keeping this server alive in my absence. I have decided to continue with Red Development thanks to the overwhelming

[2020-09-19 05:08] LuciferVerma commented on #51
Welcome back we missed you alot ;)

[2020-09-19 05:09] RedCraftGH commented on #51
Thanks. I really appreciate that :)

[2020-09-20 05:22] BambankFx commented on #51
Can you fix why member can't to island? he type /is tp but he can't, I hope you fix it :)

[2020-09-20 05:27] RedCraftGH commented on #51
If you are using the most recent version published on Poggit then there are several bugs. The next update to be released on poggit (coming soon..) should fix your problems.

[2020-09-20 11:14] BambankFx commented on #51
pocketmine\utils\AssumptionFailedError: "Position world is null" (EXCEPTION) in "src/pocketmine/level/Position" at line 83
[11:12:18] [Server thread/CRITICAL]: #0 src/pocketmine/entity/Entity(1870): pocketmine\level\Position->getLevelNonNull()
[11:12:18] [Server thread/CRITICAL]: #1 src/pocketmine/Player(3925): pocketmine\entity\Entity->teleport(object pocketmine\level\Position, NULL , NULL )
[11:

[2020-09-20 11:29] BambankFx commented on #51
If I type /is create server closed

Generate.php): failed to open stream: phar error: Cannot open phar archive "/root/pmmp/plugins/RedSkyBlock (2).phar" for reading" (EXCEPTION) in "vendor/pocketmine/classloader/src/BaseClassLoader" at line 138
[11:20:20] [Server thread/CRITICAL]: #0 vendor/pocketmine/classloader/src/BaseClassLoader(138): pocketmine\utils\Utils::errorExceptionHandler(integer 2, st

[2020-09-20 11:30] ItzMeBambank commented on #51
if i type /is create server closed

Error: Undefined offset: 0
File: plugins/RedSkyBlock-master/src/RedCraftPE/RedSkyBlock/Tasks/Generate
Line: 47
Type: ErrorException

THIS CRASH WAS CAUSED BY A PLUGIN
BAD PLUGIN: RedSkyBlock v0.0.1

Code:
[38]     $y2 = (int) $islandZone[4];
[39]     $z2 = (int) $islandZone[5];
[40]
[41]     for ($x = $lastX; $x <= $lastX + (max($x1, $x2) - min($x1, $x2)); $x++)

[2020-09-20 11:31] BambankFx commented on #51
if i type /is create server closed

Error: Undefined offset: 0
File: plugins/RedSkyBlock-master/src/RedCraftPE/RedSkyBlock/Tasks/Generate
Line: 47
Type: ErrorException

THIS CRASH WAS CAUSED BY A PLUGIN
BAD PLUGIN: RedSkyBlock v0.0.1

Code:
[38] $y2 = (int) $islandZone[4];
[39] $z2 = (int) $islandZone[5];
[40]
[41] for ($x = $lastX; $x <= $lastX + (max($x1, $x2) - min($x1, $x2)); $x++) {
[42]
[43]

[2020-09-20 16:14] RedCraftGH commented on #51
@BambankFx Please create a new issue.

[2020-09-20 16:14] #51 closed

[2020-09-20 23:29] BambankFx opened #52 "Bugs"
When I type /is create I float on void and then the server is closed

Error: Undefined offset: 0
File: plugins/RedSkyBlock-master/src/RedCraftPE/RedSkyBlock/Tasks/Generate
Line: 47
Type: ErrorException

THIS CRASH WAS CAUSED BY A PLUGIN
BAD PLUGIN: RedSkyBlock v0.0.1

Code:
[38] $y2 = (int) $islandZone[4];
[39] $z2 = (int) $islandZone[5];
[40]
[41] for ($x = $lastX; $x <= $lastX + (max($x1, $x2) -

[2020-09-21 04:41] reyyan987 opened #53 "When tp to skyblock world fell in void"
When we tp to our skyblock world thers no skyblock only void

[2020-09-24 19:19] RedCraftGH commented on #52
@BambankFx You have to create an island zone before you can create an island.

[2020-10-07 09:24] ganeshbista209 opened #54 "Suggestion"
It will be great if you guys add UI

[2020-10-08 02:14] RedCraftGH commented on #54
Thanks for the suggestion! There is plans for a UI to be added, but I am not sure how soon that will be. I would first like to complete most of the core of the plugin before working on features like that one.

[2020-10-08 06:17] TheRealKizu commented on #50
also add API methods on the code itself :D

[2020-10-13 04:22] RedCraftGH commented on #50
I will work on implementing some more API methods and documentation for using them.

[2020-11-03 10:17] ganeshbista209 opened #55 "Suggestion"
it will be great if you add island upgrades if they upgrade the island they get more island space and unlock more challenges

[2020-11-04 06:03] RedCraftGH commented on #55
Thanks for the suggestion! I will be adding features such as this soon, but as of now I am working solely on the core mechanics of the plugin.

[2020-11-15 22:33] benda95280 opened #56 "Feature Request : MultiWorld"
Could it be possible for a player to have more than one island ? (Maybe different type of island :/)

[2020-11-16 02:14] RedCraftGH commented on #56
It's not possible at the moment, but it may become possible in the future.

[2020-11-20 14:44] AimanIlyasM opened #57 "Issue & Req: Dimension"
Req:
Generator for nether void & end void in /is createworld (nether/end/overworld) [name]
Multiple level in /is setworld (nether/end/overworld) [name]
Portal links i'll just use external plugin instead

Issue:
3.1.1 always crash my server but 3.0.3 doesn't
Maybe it's because I have so many aternos poggit plugins lol

Thanks for this plugin & notice

[2020-12-27 10:08] deadbushmc opened #58 "Crash on setspawn"
When I do
/is setzone 1 and 2
and do /is setspawn
it crashes

[2020-12-27 10:33] cosmicnebula200 commented on #58
Make sure to do `/is makespawn` Instead of `/is setspawn` As setspawn is for personal islands bot the base custom island you are making

[2020-12-27 10:36] cosmicnebula200 commented on #53
Make sure you have set your custom island properly and have a skyblock world
Steps to create a custom skyblock are
- is pos1
- is pos2
- is makespawn
- is set
- is custom on

[2021-02-04 09:47] deadbushmc opened #59 "New Update"
When are we going to see new update with all bugs fixed and new features

[2021-04-06 04:02] #58 closed

[2021-04-06 04:04] RedCraftGH commented on #59
Thank you for your inquiry! RedSkyBlock is nearing it's next update.

[2021-04-06 05:34] ItzFel opened #60 "Suggestion"
/is addslot (name) (slots) - Add slots member Islands
/is setvalue (name) (value)
Add Addon for scorehud

That's all my suggestion!

[2021-04-06 13:45] RedCraftGH commented on #60
Hey @ItzFel, thank you for your suggestion. I'm not quite sure what the /is addslot command that you're proposing would do. What is a slot and why should slot(s) be added to an island?

[2021-04-06 13:48] #57 closed

[2021-04-06 13:51] #33 closed

[2021-04-06 13:59] RedCraftGH commented on #60
Ah, thank you for elaborating. I think I will be able to implement this pretty soon.

[2021-04-08 20:10] #36 closed

[2021-04-08 20:10] #37 closed

[2021-04-08 20:11] #40 closed

[2021-04-08 20:12] #44 closed

[2021-04-08 20:13] #45 closed

[2021-04-08 20:13] #46 closed

[2021-04-08 20:13] #47 closed

[2021-04-08 20:19] #29 closed

[2021-04-08 20:19] #49 closed

[2021-04-08 20:19] #35 closed

[2021-04-08 20:19] #30 closed

[2021-04-09 02:19] #56 closed

[2021-04-25 17:39] Lycol50 opened #61 "Custom Island Gone on master branch"
using master branch, you cannot create a custom island for the server skyblock, on the poggit release, the feature is there.

[2021-04-26 20:09] RedCraftGH commented on #61
Sure you can. Have you tried using /is updatezone after setting the island zones?

[2021-04-27 01:02] Lycol50 commented on #61
please provide documentation on how to create islands zones, when using the `master` branch

[2021-04-28 02:53] RedCraftGH commented on #61
Do you mean like this documentation here that I provided on how to create island zones when using the master branch?
https://github.com/RedCraftGH/RedSkyBlock/wiki/Setting-up-with-Commands

[2021-04-28 18:18] #61 closed

[2021-04-28 18:19] Lycol50 opened #62 "API?"
is this plugin does have api?

[2021-04-29 18:27] reyyan987 opened #63 "Add scorehud addon"
Pls add new 6.0+ scorehud addon so we can add redskyblock tags in scorehud

[2021-05-25 04:01] ZZWILLIAMXXTrue commented on #63
Might want to rename this to
“Make RedSkyBlockScore”

[2021-05-27 10:42] xKurt opened #65 "MultiWorld"
Hi,
Let players go and create their islands with different worlds, creating their islands in just one world is extremely laggy.

[2021-05-28 02:33] #65 closed

[2021-05-28 02:34] #62 closed

[2021-05-29 10:28] iZeaoGamer commented on #65
It'll lag the server if you create islands in too many worlds, as worlds take resources.

[2021-05-29 11:13] reyyan987 commented on #65
Yes it is right

[2021-05-29 11:22] xKurt commented on #65
But it’ll also lag in just one world, I’ve tried it before and in every move it’ll shake the screen (since a lot of islands were created). So I tried a skyblock with multiworld and it is a lot better.
Otherwise how we’ll prevent the shake screen?

[2021-05-29 23:44] RedCraftGH commented on #65
@xKurt Thanks for your suggestion! However, I do not plan on adding support for this. May I ask, what version of the plugin are you using when this shaking occurs?

[2021-05-30 04:18] xKurt commented on #65
RedSkyBlock 3.1.1

It does shake the screen since I think almost thousands of islands were created, so we switched to the Skyblock plugin where it does create MultiWorld and it is actually pretty good.
Also in 3.1.1 is kinda tricky because when you created an island, the custom island that you made will show but mostly not (void). Therefore you kinda need to do it multiple times (creating island)

[2021-05-30 04:40] RedCraftGH commented on #65
@xKurt I sort of assumed you were on 3.1.1 because this problem has surfaced before for that version. Luckily, all of the problems you're having have been fixed in 5.0.0 including the shaking.

[2021-05-30 04:47] #43 closed

[2021-05-30 05:57] xKurt commented on #65
Oh okay! Thanks a lot! I’ll try it. 😊

[2021-05-30 09:50] xKurt opened #66 "/is help - Internal Server Error"
Hi,
I already completed the following:
- Drop the RedSkyBlock.phar into your server's plugin folder.
- Start your server.
- Edit the plugin settings in the config.yml.
- Run the /is reload command.
- Create a SkyBlock world with the /is createworld command.
- Set the SkyBlock world with the /is setworld command.
- Create a custom island zone with the /is setzone <1/2> and /is updatezone commands.

[2021-05-30 23:49] RedCraftGH commented on #66
@xKurt Thanks for the bug report! I am aware of this problem currently and have already made a fix for it which will be pushed in the next update. For now, don't type just /is help but make sure it is followed by a page number like this: /is help 1
P.S. There are six pages

[2021-05-31 17:43] llPushkarSinghll opened #67 "ScoreHud Addon"
Sir try to add compatibility with Scorehud v6.2.1 then if will very helpful.

[2021-05-31 18:06] reyyan987 commented on #67
Yes red will be trying to add it soon

[2021-05-31 19:28] #67 closed

[2021-06-01 11:39] xKurt opened #68 "Suggestion"
RedSkyBlock UI

[2021-06-01 11:53] xKurt commented on #65
Um, I have checked the plugin and it really does shake still. I have set the Skyblock world and I teleported to 3000000, 50, 3000000.
https://streamable.com/mv0udw

[2021-06-01 13:30] reyyan987 commented on #68
Sorry but ui will not be added but GUI will be added  we are working on it you will see it sooner than late

[2021-06-01 15:03] #68 closed

[2021-06-02 01:59] RedCraftGH commented on #65
@xKurt Hey! So, regardless of the world which you are in, going 3 million blocks out is going to make your screen shake. However, what's different this time on RedSkyBlock is the way islands are generated. In earlier versions it was possible for islands to get so far out, but in newer versions islands are fit more precisely into the world. Basically, you'd have to have wayyyyyyy more players to ev

[2021-06-04 04:14] reyyan987 commented on #59
Red skyblock. Has now 5.0.0 where Almost all bugs have been fixed

[2021-06-06 19:43] llPushkarSinghll opened #72 "Bugs"
Too many bugs in new version.pls solve it as fast as possible

[2021-06-07 00:17] RedCraftGH commented on #72
@llPushkarSinghll Sorry to hear you're having issues with the plugin. However, this is not an effective way of letting me know about your problems. Please create an issue and accurately describe any bugs you've encountered. Also include steps to reproduce these bugs if possible. Lastly, check the console for errors and report any on your issue.

[2021-06-07 00:17] #72 closed

[2021-06-08 12:54] EarlGarciaYT opened #73 "When i Created my Island it Crashes"
`PocketMine-MP Crash Dump Tue Jun 8 14:47:14 CEST 2021

Error: Undefined offset: 0
File: plugins/RedSkyBlock .phar/src/RedCraftPE/RedSkyBlock/Tasks/Generate
Line: 47
Type: ErrorException

THIS CRASH WAS CAUSED BY A PLUGIN
BAD PLUGIN: RedSkyBlock v5.0.0

Code:

Backtrace:
#0 plugins/RedSkyBlock .phar/src/RedCraftPE/RedSkyBlock/Tasks/Generate(47): pocketmine\utils\Utils::errorExceptionHandler(intege

[2021-06-19 19:06] RustlingBrick86 opened #75 "Protocol"
Hopefully you can fix this soon but it doesn't support the new mcbe 1.17 as of now I dont think

[2021-06-25 04:39] WinterHellMC opened #80 "Island Border or New Worlds"
So here is my issue,
Imagine someone has island fly permission they can still fly out of their island size limit and go to other islands flying and can destroy them since it's on the same world.
So my request is either add an island border like java edition I don't think it's possible in pmmp but at least make it teleport you back when u go out of your island size limit.
or just make it like Giant

[2021-06-25 12:33] RedCraftGH commented on #80
@WinterHellMC Thanks for reaching out. Fortunately, precautions have already been set in place considering all of the islands are generated on the same world. If a player were to fly off of their island and go to another, they would not be able to break/place/or use any blocks (unless the player has the permission "skyblock.bypass then they can go anywhere and do anything). Also, in the config.yml

[2021-06-25 12:34] #80 closed

[2021-06-27 08:47] #75 closed

[2021-06-27 08:48] #66 closed

[2021-06-27 08:48] #59 closed

[2021-07-01 10:37] MidWolfhunter opened #81 "A lot of bugs enountered"
First of all, when I created an island it kept crashing the server,  with the following console errors:

`[09:56:56] [Server thread/CRITICAL]: TypeError: "Argument 1 passed to RedCraftPE\RedSkyBlock\Commands\SubCommands\Leave::onLeaveCommand() must be an instance of RedCraftPE\RedSkyBlock\Commands\SubCommands\CommandSender, instance of pocketmine\Player given, called in phar:///home/container/plug

[2021-07-05 05:58] Herobrien4856 opened #82 "My /is set is not working"
My /is set command is not working I used world edit also please tell me how to fix it  @RedCraftGH

[2021-07-15 07:54] deadbushmc opened #84 "Is Help"
Can you guys please make a new tutorial on how to add custom island generation/island generation cuz im really confused :) will really appreciate if you make and upload in YT

[2021-07-16 02:04] yangyong080228 opened #85 "unable to use /is s"
![image](https://user-images.githubusercontent.com/71582030/125880551-000ed815-3b56-4e7f-8bc3-1d95bbd7f037.png)

[2021-07-21 02:54] yangyong080228 commented on #85
*the command for setting up a spawn point a already removed btw

[2021-07-27 15:32] Altamash347 opened #86 "More than one SkyBlock"
Can we make more than one skyblock here?

[2021-07-27 15:32] Altamash347 commented on #86
like different types of skyblock

[2021-08-07 11:52] NotSaifA opened #87 "Incompatible network protocol version"
Pocketmine 3.22.1

Could not load plugin 'RedSkyBlock': Incompatible network protocol version (plugin requires one of: 361, 388, 389, 390, 407, 408, 431, 440)

[2021-08-18 14:17] Ghostleader1399 opened #88 "command"
There is do command for a player to delete there own island could you add it, It would be useful

[2021-09-12 15:26] WinterHellMC opened #90 "Internal Server error on /is members"
TypeError: "count(): Argument #1 ($value) must be of type Countable|array, stdClass given" (EXCEPTION) in "plugins/WHSkyblock_v5.0.2.phar/src/RedCraftPE/RedSkyBlock/Commands/SubCommands/Members" at line 29
[15:25:11] [Server thread/CRITICAL]: #0 plugins/WHSkyblock_v5.0.2.phar/src/RedCraftPE/RedSkyBlock/Commands/SubCommands/Members(29): count(object stdClass)
[15:25:11] [Server thread/CRITICAL]: #1

[2021-10-01 19:35] RedCraftGH commented on #81
Thank you for reporting this issue! It has been fixed in the next update.

[2021-10-01 19:36] RedCraftGH commented on #82
Thank you for your inquiry. /is set is not a command on RedSkyBlock.

[2021-10-01 19:37] RedCraftGH commented on #84
Hey, thank you for your inquiry. I will work on making a video tutorial for every feature of the plugin, although this may take me some time.

[2021-10-01 19:39] RedCraftGH commented on #85
Thank you for reporting this. The issue is the command to set a custom island spawn point has not been added to the help menu yet; I will work on fixing this very soon. The command you're looking for is /is customspawn. Just stand on your island zone where you want players to spawn for the first time on their islands and run the command. It should be run after /is setzone <1/2> and before /is upda

[2021-10-01 19:40] RedCraftGH commented on #86
Unfortunately I have not added the function of multiple skyblock islands. I'm not sure if this will be added in the future. If it is a highly requested feature then it will most likely be added.

[2021-10-01 19:41] RedCraftGH commented on #87
Thank you for reporting this! I have updated the mcpe-protocol list and added the newest protocol required for the latest stable build of pocketmine.

[2021-10-01 19:44] RedCraftGH commented on #88
@Ghostleader1399 Thank you for your suggestion! Currently the only commands that exist for this are /is delete <player> which can only be run by server administrators and /is restart which can be run by anyone.
/is delete is only for server administrators so islands may be deleted if necessary.
/is restart has a cooldown time which can be changed or turned off by server owners. This is to prevent

[2021-10-01 19:50] RedCraftGH commented on #90
Thank you for reporting this @WinterHellMC. So far I have no been able to reproduce this error and the /is members command seems to be working okay for me. Can you describe the steps you took in order for this to happen?

[2021-10-01 20:57] #87 closed

[2021-10-01 20:57] #81 closed

[2021-10-02 03:31] deadbushmc commented on #90
it happens when you add a lot of people to island
/is fly gives internal error (its exceptional) only happens when player database is saved in island members as {"1":"name","2":"name"} butr dosent happen if saved as ["name", "name"]
but if you add a lot of people it saves the first way not second so it will be better to add member limit

[2021-12-08 06:56] NhanAZ opened #92 "Support API 4.0.0"
Support API 4.0.0 Pls

[2021-12-12 15:35] PushkarOP commented on #92
Yez support for pm4

[2022-01-03 01:52] himako97 opened #93 "Internal server error"
Hi I need help with the RedSkyblock plugin, every time I try to create a zone for the skyblock with /is setzone 1 and /is setzone 2 and then when I type /is updatezone it throws me this error and I get internal server error, I don't know why that happens, I followed all the steps correctly as found in poggit, please help.

[message.txt](https://github.com/RedCraftGH/RedSkyBlock/files/7800101/messa

[2022-01-09 07:21] NhanAZ commented on #92
Red is no longer active for some reason...

[2022-01-09 07:21] #92 closed

[2022-02-07 01:38] iSpaceYT opened #94 "Help Me"
[01:36:35.308] [Server thread/ERROR]: Could not load plugin '/home/container/plugins/RedSkyBlock (5).phar': Invalid plugin manifest: Command island does not have a valid permission set

[2022-02-07 01:42] ItsMax123 commented on #94
Are you trying to use the plugin on PocketMine version 4? This plugin doesn't support that version

[2022-04-08 21:42] SPMP2 opened #97 "Help please"
Dont understand xonfiguratiion; on start server, i have thid crash

PocketMine-MP Crash Dump Fri Apr 8 21:36:53 UTC 2022

PocketMine-MP version: 4.2.6 [Protocol 486]
Git commit: 26aee7ff73a982dd45abf8184c715f290ce23fdb
PHP version: 8.0.17
OS: Linux, linux

A PLUGIN WAS INVOLVED IN THIS CRASH
BAD PLUGIN: RedSkyBlock

Error: pocketmine\world\WorldManager::loadWorld(): Argument #1 ($name) must be of

[2022-07-24 16:23] JoshuaPHYT commented on #97
Use latest Dev please

[2022-08-14 21:20] YT-Duckyyy opened #105 "Bug"
On server startup, I receive this error

[21:19:49.967] [Server thread/CRITICAL]: TypeError: "CortexPE\Commando\BaseSubCommand::__construct(): Argument #1 ($plugin) must be of type pocketmine\plugin\Plugin, string given, called in phar:///home/container/plugins/Skyblock.phar/src/RedCraftPE/RedSkyBlock/Commands/SBSubCommand.php on line 22" (EXCEPTION) in "/home/container/virions/Commando-4.0.0-mast

[2022-09-09 09:09] UnknownNull opened #106 "cmd accept invite"
not fund island invited bug :/

[2022-09-09 10:06] UnknownNull opened #107 "cant teleport member to island"
cant teleport member to island and can create island members a island :/

[2022-10-05 20:53] MintClient16107 commented on #105
Still a thing?

[2022-11-15 16:43] Wengareki opened #108 "ZONE SET POBLAM"
When I Use /sb updatezone It's Show You Don't Create A Custom Island Zoon..
![Screenshot_20221115-221141_Minecraft](https://user-images.githubusercontent.com/116268141/201976919-b1b3a3d2-b5c9-48a0-abb6-e4ed1e5efbd9.jpg)